@font-face {
  font-family: 'GTCinetype-Light';
  font-style: normal;
  font-weight: 300;
  src: local('GTCinetype-Light'),
  url('./fonts/cinetype/gt-cinetype-light.woff2') format('woff2'),
  url('./fonts/cinetype/gt-cinetype-light.woff') format('woff')
}

@font-face {
  font-family: 'GTCinetype-Regular';
  font-style: normal;
  font-weight: 400;
  src: local('GTCinetype-Regular'),
  url('./fonts/cinetype/gt-cinetype-regular.woff2') format('woff2'),
  url('./fonts/cinetype/gt-cinetype-regular.woff') format('woff')
}

@font-face {
  font-family: 'GTCinetype-Bold';
  font-style: normal;
  font-weight: 700;
  src: local('GTCinetype-Bold'),
  url('./fonts/cinetype/gt-cinetype-bold.woff2') format('woff2'),
  url('./fonts/cinetype/gt-cinetype-bold.woff') format('woff')
}

@font-face {
  font-family: 'Rubik-Regular';
  font-style: normal;
  font-weight: 700;
  src: local('Rubik-Regular'),
  url('./fonts/rubik/rubik-regular.woff2') format('woff2'),
  url('./fonts/rubik/rubik-regular.woff') format('woff')
}